{
  "SharePointChronologyFunction": {
    "TENANT_ID": "your-azure-tenant-id",
    "CLIENT_ID": "your-azure-client-id",
    "CLIENT_SECRET": "your-azure-client-secret",
    "SITE_ID": "your-sharepoint-site-id",
    "OPENAI_API_KEY": "your-openai-api-key",
    "S3_BUCKET": "medical-chronology"
    "GEMINI_API_KEY":"your-gemini-api-key"
  }
} 